.instagram-link {
  max-width: 700px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.instagram-link-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.instagram-link-page {
  justify-content: center;
  align-items: center;
}

.click-link-text {
  margin-top: 7px;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: overline;
}

@media screen and (max-width: 526px){
  .click-link-text {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .instagram-link {
    width: 300px;
    margin-right: 30px;
  }
}

@media screen and (max-width: 310px) {
  .instagram-link {
    width: 230px
  }
}