.instagram-link {
  max-width: 700px;
  justify-content: center;
  align-items: center;
}

.instagram-link-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.instagram-link-page {
  justify-content: center;
  align-items: center;
}

.click-link-text {
  display: flex;
  justify-content: center;
  align-items: center;
}